# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/

# Django
*.log
backend/staticfiles/
backend/static/react/

# Node / React
frontend/node_modules/

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
/png_refs
/pdf_refs